@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('./assets/static/KantumruyPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('./assets/static/KantumruyPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('./assets/static/KantumruyPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('./assets/static/KantumruyPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('./assets/static/KantumruyPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: 'Kantumruy Pro', sans-serif;
}